<!-- scheduling/templates/scheduling/schedule.html -->
{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- FullCalendar -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
<script>

  var calendar;

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        editable: true,
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        events: JSON.parse('{{ lessons_list|safe }}'),
        eventContent: function(arg) {
            var class_topic = arg.event.extendedProps.class_topic;
            
            var location = arg.event.extendedProps.location;
            if (location == 'online'){
                var meeting_link = `<div><i class="fas fa-video"></i> Meeting link: <b><a href="${arg.event.extendedProps.meeting_link}" target="_blank" style="color: lightblue;">Join</a></b></div>`
            }else{
                var meeting_link = `<div><i class="fas fa-video"></i> Location: <b>Onsite<b></div>`
            }

            // Example HTML structure with FontAwesome icons
            return {
                html: `
                    <div style="padding: 4px; background-color: ${arg.event.backgroundColor}; color: white; border-radius: 4px;">
                        <b>${arg.event.title}</b><br>
                        <div><i class="fas fa-book"></i> Topic: ${class_topic}</div>
                        ${meeting_link}
                    </div>
                `
            };
        },
        eventDrop: function(info) {
            var lesson = info.event;
            var lessonId = lesson.id;
           
            var startTime = lesson.start.toISOString();
            var endTime = lesson.end.toISOString();
            var csrftoken = getCookie('csrftoken'); // Retrieve CSRF token

            // Prepare data payload including CSRF token
            var data = JSON.stringify({
                id: lessonId,
                start: startTime,
                end: endTime,
            });

            fetch('{% url "update_lesson" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken, // Include CSRF token in request headers
                },
                body: data,
            })
            .then(response => {
                if (!response.ok) {
                  return response.json().then(data => Promise.reject(new Error(data.message)));
                }
                return response.json();
            })
            .then(data => {
                if (data.status == 'error') {
                    // Revert the event back to its original position
                    info.revert();
                    showMessage('error', data.message);
                } else {
                    showMessage('success', data.message);
                }
            })
            .catch((error) => {
                showMessage('error', error.message);
                // Revert the event back to its original position
                info.revert();
            });
        },
        eventClick: function(info) {
            var lessonId = info.event.id;
            var csrftoken = getCookie('csrftoken'); // Retrieve CSRF token
            // Prepare the data to be sent in the request body
            var data = JSON.stringify({
                'lessonId': lessonId
            });

            fetch('{% url "lesson_details" %}', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': csrftoken, // Include CSRF token in request headers
                  'lessonId': lessonId,
              },
              body: data // Send the JSON data in the request body
            })
            .then(response => {
              if (!response.ok) {
                  return response.json().then(data => Promise.reject(new Error(data.message)));
                }
                return response.json();
            })
            .then(response => {
                console.log('Response data ', response)
                if (response.status === 'success') {
                    populateAndShowModal(response.lesson);
                } else {
                    showMessage('error', 'You are not authorized to view this lesson details.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showMessage('error', error.message);
            });

        },

    });
    calendar.render();
  });

  function populateAndShowModal(lessonData) {
    var lessonId = lessonData.id;
    $('#lessonId').val(lessonId);
    $('#editLessonModalLabel').text('Edit Lesson: ' + lessonData.title); // Example to set modal title dynamically
    $('#lessonTitle').val(lessonData.title);
    $('#lessonDescription').val(lessonData.extendedProps.description)
    // Format start and end times to 'YYYY-MM-DDTHH:MM' for datetime-local input
    var startTime = new Date(lessonData.start).toISOString().slice(0, 16);
    var endTime = new Date(lessonData.end).toISOString().slice(0, 16);
    $('#lessonStartTime').val(startTime);
    $('#lessonEndTime').val(endTime);
    // Populate other fields
    $('#MeetingLink').val(lessonData.extendedProps.meeting_link)
    // Filling in the location
    $('#lessonLocation').val(lessonData.extendedProps.location);
    // Filling in the teachers
    var teacherSelect = $('#lessonTeacher');
    teacherSelect.empty(); // Clearing previous options
    lessonData.extendedProps.teachers.forEach(function(teacher) {
      console.log('info teacher_id ', lessonData.extendedProps.teacher_id, ', teacher.id ', teacher.id)
      var option = new Option(teacher.username, teacher.id);
      console.log('info compare ', teacher.id === lessonData.extendedProps.teacher_id)
      if (teacher.id == lessonData.extendedProps.teacher_id) {
          option.setAttribute('selected', 'selected');
      }
      teacherSelect.append(option);
    });

    // Filling in the students
    var studentSelect = $('#lessonStudents');
    studentSelect.empty(); // Clearing previous options
    lessonData.extendedProps.students.forEach(function(student) {
      studentSelect.append(new Option(student.username, student.id));
    });

    // Filling in materials
    var materialSelect = $('#lessonMaterials');
    materialSelect.empty(); // Clearing previous options
    lessonData.extendedProps.materials.forEach(function(material) {
      materialSelect.append(new Option(material.title, material.id));
    });

    $('#editLessonModal').modal('show'); // Open the modal
  }


</script>
{% endblock extra_head %}


{% block content %}
<div id='calendar'></div>

<!-- Edit Lesson Modal -->
<div class="modal fade" id="editLessonModal" tabindex="-1" aria-labelledby="editLessonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editLessonModalLabel">Edit Lesson Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editLessonForm" enctype="multipart/form-data" >
            <input type="hidden" id="lessonId" name="lessonId" value="">
            <div class="form-group">
              <label for="lessonTitle">Title</label>
              <input type="text" class="form-control" id="lessonTitle" name="title" disabled>
            </div>
            <div class="form-group">
              <label for="lessonDescription">Description</label>
              <textarea class="form-control" id="lessonDescription" name="description" {% if is_readonly %}disabled{% endif %}></textarea>
            </div>
            <div class="form-group">
              <label for="lessonStartTime">Start Time</label>
              <input type="datetime-local" class="form-control" id="lessonStartTime" name="start_time" {% if is_readonly %}disabled{% endif %}>
            </div>
            <div class="form-group">
              <label for="lessonEndTime">End Time</label>
              <input type="datetime-local" class="form-control" id="lessonEndTime" name="end_time" {% if is_readonly %}disabled{% endif %}>
            </div>
            <div class="form-group">
              <label for="lessonLocation">Location</label>
              <select class="form-control" id="lessonLocation" name="location" {% if is_readonly %}disabled{% endif %}>
                <option value="on-site">On-site</option>
                <option value="online">Online</option>
              </select>
            </div>
            <div class="form-group">
              <label for="MeetingLink">Meeting Link</label>
              <input type="url" class="form-control" id="MeetingLink" name="meeting_link" {% if is_readonly %}disabled{% endif %}>
            </div>
            <!-- Additional fields for teacher, students, and materials -->
            <div class="form-group">
              <label for="lessonTeacher">Teacher</label>
              <select class="form-control" id="lessonTeacher" name="teacher" {% if is_readonly %}disabled{% endif %}>
                <!-- Dynamically populate teachers -->
              </select>
            </div>
            <div class="form-group">
              <label for="lessonStudents">Students</label>
              <select multiple class="form-control" id="lessonStudents" name="students" {% if is_readonly %}disabled{% endif %}>
                <!-- Dynamically populate students -->
              </select>
            </div>
            <div class="form-group">
              <label for="lessonMaterials">Materials</label>
              <select multiple class="form-control" id="lessonMaterials" name="materials" {% if is_readonly %}disabled{% endif %}>
                <!-- Dynamically populate materials -->
              </select>
            </div>
            <div class="form-group">
              <label for="newMaterials">Upload New Materials</label>
              <input type="file" class="form-control-file" id="newMaterials" name="new_materials" multiple {% if is_readonly %}disabled{% endif %}>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="saveLessonDetails()"  {% if is_readonly %}disabled{% endif %}>Save changes</button>
        </div>
      </div>
    </div>
</div>
  
{% endblock content %}

{% block extra_js %}
<script>
  
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  // Function to save lesson details
  function saveLessonDetails() {
    
    var lessonId = $('#lessonId').val();
    var formData = new FormData(document.getElementById('editLessonForm'));
    formData.append('csrfmiddlewaretoken', getCookie('csrftoken')); // CSRF token

    // Append new materials if any
    var newMaterials = $('#newMaterials')[0].files;
    for (var i = 0; i < newMaterials.length; i++) {
        formData.append('new_materials', newMaterials[i]);
    }

    fetch('{% url "update_lesson" %}', {
        method: 'POST',
        body: formData,
        credentials: 'same-origin' // is necessary for correct operation of CSRF
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            console.log('Lesson updated successfully');
            var event = calendar.getEventById(lessonId);
            if(event) {
                event.setProp('title', data.lesson.title);
                event.setStart(data.lesson.start);
                event.setEnd(data.lesson.end);
                event.setExtendedProp('description', data.lesson.extendedProps.description);
                event.setExtendedProp('location', data.lesson.extendedProps.location);
                event.setExtendedProp('meeting_link', data.lesson.extendedProps.meeting_link);
                event.setExtendedProp('teacher_id', data.lesson.extendedProps.teacher_id);
                event.setExtendedProp('materials', data.lesson.extendedProps.materials);
            }

            $('#editLessonModal').modal('hide');
            calendar.refetchEvents();

            showMessage('success', data.message);
            
        } else {
            showMessage('error', data.message);
        }
    })
    .catch(error => showMessage('error', error));
  }

  function handleLocationChange() {
    // Get the value of the Location field
    var location = $('#lessonLocation').val();
    
    // Get the MeetingLink input element
    var meetingLinkInput = $('#MeetingLink');
    
    // If the value of the Location field is 'on-site', make the MeetingLink field readonly
    if (location === 'on-site') {
        meetingLinkInput.val('');
        meetingLinkInput.prop('readonly', true);
    } else {
        // If the value of the Location field is not 'on-site', remove the readonly attribute
        meetingLinkInput.prop('readonly', false);
    }
}

$(document).ready(function() {

    handleLocationChange();
    
    // Event listener for the change event of the Location field
    $('#lessonLocation').change(handleLocationChange);

    // Event listener for opening the modal
    $('#editLessonModal').on('show.bs.modal', function() {
        // Update the readonly attribute of the MeetingLink input based on the current value of the Location field
        $('#lessonLocation').trigger('change');
    });
});
  

</script>
{% endblock extra_js %}