<!-- scheduling/templates/scheduling/update_english_class.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Update Class and Schedule</h2>
    <div class="mt-3">
        <a href="{% url 'lessons_list' class_id=class_form.instance.pk %}" class="btn btn-info">View Lessons for This Class</a>
    </div>
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ class_form.title.label_tag }}
            {{ class_form.title }}
        </div>
        <div class="form-group">
            {{ class_form.description.label_tag }}
            {{ class_form.description }}
        </div>
        <!-- Добавьте остальные поля класса здесь -->
        <div class="form-group">
            {{ class_form.color.label_tag }}
            {{ class_form.color }}
        </div>
        <div class="form-group">
            {{ class_form.teacher.label_tag }}
            {{ class_form.teacher }}
        </div>
        <div class="form-group">
            <label for="id_students">Students:</label>
            {{ class_form.students }}
        </div>
        <!-- Поля ScheduleForm -->
        <div class="form-group">
            {{ schedule_form.term.label_tag }}
            {{ schedule_form.term }}
        </div>
        <div class="form-group">
            {{ schedule_form.start_date.label_tag }}
            {{ schedule_form.start_date }}
        </div>
        <div class="form-group">
            {{ schedule_form.end_date.label_tag }}
            {{ schedule_form.end_date }}
        </div>
        <button type="submit" class="btn btn-primary" {% if is_student %}disabled{% endif %}>Update Schedule and Class</button>
    </form>
</div>
{% endblock %}
